* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #2e8b57;
    background-color: #000;
    opacity: 0.9;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2e8b57;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: .75rem;
}

/* Header */

.header {
    border-bottom: 1px solid #2e8b57;
    position: fixed;
    min-width: 100%;
    background-color: #000;
}

header {
    min-height: 4rem;
}

.logo img {
    max-height: 3rem;
}

.logo {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

.logo-menu {
    display: flex;
}

.menu li {
    display: inline-block;
    text-decoration: underline;
    padding-left: 1rem;
}

.menu {
    margin: 0;
    padding: .75rem 0;
}

@media only screen and (max-width: 570px) {
    .logo-menu {
        flex-direction: column;
    }

    .logo {
        margin: 0 auto;
    }

     ul {
        padding-left: 0;
    }

}


/* Banner */


.hero-section .container {
    padding-top: 4rem;
    background-image: url(../../resources/images/img-mission-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 44rem;
    padding-right: 0;
    padding-left: 0;
}



.banner {
    padding-top: 12rem;
}

.banner-text {
    background-color: #000;
    line-height: 2;
    min-width: 100%;
}

/* Tea-section */

.flex-tea-card img {
    max-height: 12.5rem;
    max-width: 18.75rem;
}

.tea-section {
    padding-top: 3rem;
    min-width: 100%;
}

.flex-tea-card h4 {
    padding-top: .6rem;
}

.flex-tea-card {
    margin: .6rem;
}

.flex-tea-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.tea-section-heading {
    line-height: 2;
}


/* Location-section */

.flex-location-container li {
    list-style: none;
}

.location-section {
    margin-top: 4.3rem;
    background-image: url(../../resources/images/img-locations-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    min-height: 31.25rem;
}

.location-section-heading {
    padding: 1rem;
}

.flex-location-card {
    min-width: 18.75rem;
    margin: 1rem 2.5rem;
    background-color: #000;
    line-height: 3;
}

.flex-location-card ul {
    padding: .3rem;
}

.flex-location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contact-section */


.contact-section {
    padding-top: 1.25rem;
}

.contacts {
    line-height: 2;
}

/* Footer */


.footer {
    text-align: left;
}















